*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 50px 0;

}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ccc !important;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.navbar-item{
    font-size: 14px;
}

.nav-link{
    color: #ccc!important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}

.nav-link:hover{
    background: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}

.main{
    position: relative;
    background: url("https://onnitacademy.imgix.net/2016/07/Battlerope.jpg")
    repeat fixed 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
    color: #ffffff;
}

.main .h2{
    font-family: Roboto;
    font-size:1.7em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
}

.main .button{
    border-radius: 0 !important;
    margin-right: 10px;
    text-align: left !important;
}

.main .button-2{
    background: transparent;
    color: #ffffff !important;
    border-radius: 0px;
    margin-left: 10px;
    border-style: solid;
    border-color: #ffffff;
    text-align: left !important;

}

.home-equipment-section1{
    background-image: url("https://i.pinimg.com/originals/04/1d/e7/041de75ebe409fe6b791c321e2fd4092.jpg");
    padding: 20px;
    background-size: cover;
    height: 510px;
    color: white;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-right: 40px;
    padding-left: 40px;
}

.home-equipment-section2{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/body-builder-lifting-weights-royalty-free-image-699333146-1556662804.jpg");
    padding: 20px;
    background-size: cover;
    height: 510px;
    color: white;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-right: 40px;
    padding-left: 40px;
}

.home-equipment-section3{
    background-image: url("https://i.pinimg.com/originals/74/6a/14/746a14e0a915f6251b68aa102a072158.jpg");
    padding: 20px;
    background-size: cover;
    height: 510px;
    color: white;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-right: 40px;
    padding-left: 40px;
}

.featured-products-background{
    background-color: rgb(231, 228, 228);
    padding: 10px;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.featured-product-image{
    height: 80%;
    width: 100%;
    margin-bottom: 10px;
}

.featured-product-section{
    margin-bottom: 80px;
    margin-top: 60px;
}

.featured-product-section h6{
    font-size: 20px;
} 

.featured-product-section p{
    font-size: 15px;
    color: grey;
} 

.limited-section{
    position: relative;
    background: url("https://img.freepik.com/free-photo/strong-athletic-muscular-man_136403-7288.jpg?size=626&ext=jpg")
    repeat fixed 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    padding-left: 60px;
    color: #ffffff;
    margin-left: 25px;
    margin-right: 25px;
}

.our-facilities{
    text-align: center;
    padding-top: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.our-facilities h3{
    margin-bottom: 20px;
}


.down-bg{
    background-color: white;
    padding-top: 50px;
}


.list{
    list-style-type: none;
}

.QuickLink{
    color: black;
}

span{
    color: black;
}

.hline{
    border-top: 2px solid black;
    width: 250px;
}

.carousel-item{
    height: 32rem;
    color: black;
    position: relative;
}

.carousel-container{
    position : absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
/* 
.home-equipment-button{
    
} */

